#header{
    background-image: url("../images/tighrope.jpg");
}

h1{
    color: #5b6eb9;
    font-family: Poppins;
    font-size: 100px;
    letter-spacing: 0.3em;
}

#title:hover{
    letter-spacing: 1em;
    font-weight: 500;
    color: #e34814;
}

.titleBorder{
    height: 150px;
    background-color: yellow;
    color: yellow;
}

.titleBorder:hover{
    background-color: #orange;
    color: #e34814;
    text-indent: 11em;
    font-family: Poppins;
}

.subtitle{
    padding-top: 55px;
    font-size: 80px;
    margin: auto;
}

.content-paragraph{
    margin: auto;
    color: #e34814;
    font-size: 20px;
    line-height: 26px;
    max-width: 640px;
    font-family: Poppins;
}

.content-paragraph:first-line{
    font-size: 30px;
    font-family: Poppins;
    line-height: 40px;
}

.art-link{
    text-decoration: none;
    color: #e34814;
}
.art-link:hover{
    text-decoration: underline;
    font-weight: 700;
}

.art-link:visited{
    color: #black;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 500px;
}

img {
    border: 20px solid #e34814;
}

#img-link:hover{
    border: 50px solid #ba9997;
}
