body {
  background-color: #4D5061
font-family: sans-serif
text-align: center;
}

div{
  border: 3px solid: #424242
  display: flow-root;
}

img {
  border-radius:50%;
  border: 12px solid #fef307
}

.inspiration {
  background-color: #af96de;
  height: 500px;
  Width: 500px;
  display: inline-block;
}

#title{
  font-size: 35px;
  background-color: #96de9d;
  color: #debd96;
  margin: auto;
  padding: 10px;
}

.dot {
  height: 75px;
  width: 75px;
  border-radius: 25%;
  display: inline-block;
}

.dot.one {
  background-color: #fef303
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #8842d5;
}

li a {
    display: block;
    color: white;
    padding: 9px 17px;
    text-decoration: none;
}


li a:hover {
    background-color: #7300ff;
    color: black;
}
